## IMPORT DES LIBRAIRIES

pip install pandas
pip install sklearn
pip install matplotlib
pip install seaborn
pip install plotly
pip install scikit-plot
pip install xlrd

In [3]:
# Package de manipaulation des tableaux et dataframe
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Package pour analyse statistique
import scipy.stats as ss

# Package pour représentation graphique
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import scikitplot as skplt

# Affichage Image (png, jpeg, html ...)
from IPython.display import Image, HTML

# Typing des fonctions
from typing import List, Optional

Décision 1 : importer les fichiers 1 par 1 dans une DF car la mise en forme est différente pour chacun des fichiers

## DECLARATION DES FONCTIONS

In [8]:
# ---------------------------------------Fonction-------------------
# Création d'une dataframe de distribution 
def ditrib_calc(var1,var2,var3):
    df_temp = pd.DataFrame(var1.value_counts(normalize=True) * 100).reset_index().rename(columns={"index": var2, var3: "count"})
    return df_temp

# Représentation graphique : bar plot target

def ditrib_graph(var1,var2,var3):
    fig = px.bar(var1, 
                 y="target", x="count",
                 hover_data={'count':':.2f'}
    )
    fig.update_layout(
        title=var2,
        xaxis_title="Pourcentage par classe",
        yaxis_title=var3,
        margin=dict(l=0, r=0, t=30, b=50),
        width=500, height=300
    )
    return fig.show()

def del_top_lines(nb,df_init):
    # Fonction qui supprime : 
    # - les première lignes d'un tableau, 
    # - renomme les colonnes
    # - crée un nouvel index en préservant l'ancien
    #
    #
    # nb : index number of the new head table to keep
    # df_init : dataframe to change
    print(".......index new head number : ", nb)
    df_fin_trans = df_init.iloc[nb:]
    df_fin_trans.columns = df_fin_trans.values[0]
    df_fin_trans = df_fin_trans.iloc[1:].reset_index().rename(columns={"index": "old_index"})
    return df_fin_trans


# Attention : code FIPS, State, area, rural et urban influance déjà uniforme
col_educ_perim = ["FIPS_code",
                  "State_name",
                  "Area_name",
                  "Rural_urban_continuum_code_2013",
                  "Urban_influence_code_2013",
                  "Less than a high school diploma, 2015-19",
                  "High school diploma only, 2015-19",
                  "Some college or associate's degree, 2015-19",
                  "Bachelor's degree or higher, 2015-19",
                  "Percent of adults with less than a high school diploma, 2015-19",
                  "Percent of adults with a high school diploma only, 2015-19",
                  "Percent of adults completing some college or associate's degree, 2015-19",
                  "Percent of adults with a bachelor's degree or higher, 2015-19"]

col_pop_est_perim = ["FIPS_code",
                     "State_name",
                     "Area_name",
                     "Rural_urban_continuum_code_2013",
                     "Urban_influence_code_2013",
                     "Economic_typology_2015",
                     "POP_ESTIMATE_2015",
                     "POP_ESTIMATE_2016",
                     "POP_ESTIMATE_2017",
                     "POP_ESTIMATE_2018",
                     "POP_ESTIMATE_2019",
                     "N_POP_CHG_2015",
                     "N_POP_CHG_2016",
                     "N_POP_CHG_2017",
                     "N_POP_CHG_2018",
                     "N_POP_CHG_2019",
                     "Births_2015",
                     "Births_2016",
                     "Births_2017",
                     "Births_2018",
                     "Births_2019",
                     "Deaths_2015",
                     "Deaths_2016",
                     "Deaths_2017",
                     "Deaths_2018",
                     "Deaths_2019",
                     "NATURAL_INC_2015",
                     "NATURAL_INC_2016",
                     "NATURAL_INC_2017",
                     "NATURAL_INC_2018",
                     "NATURAL_INC_2019",
                     "INTERNATIONAL_MIG_2015",
                     "INTERNATIONAL_MIG_2016",
                     "INTERNATIONAL_MIG_2017",
                     "INTERNATIONAL_MIG_2018",
                     "INTERNATIONAL_MIG_2019",
                     "DOMESTIC_MIG_2015",
                     "DOMESTIC_MIG_2016",
                     "DOMESTIC_MIG_2017",
                     "DOMESTIC_MIG_2018",
                     "DOMESTIC_MIG_2019",
                     "NET_MIG_2015",
                     "NET_MIG_2016",
                     "NET_MIG_2017",
                     "NET_MIG_2018",
                     "NET_MIG_2019",
                     "RESIDUAL_2015",
                     "RESIDUAL_2016",
                     "RESIDUAL_2017",
                     "RESIDUAL_2018",
                     "RESIDUAL_2019",
                     "GQ_ESTIMATES_2015",
                     "GQ_ESTIMATES_2016",
                     "GQ_ESTIMATES_2017",
                     "GQ_ESTIMATES_2018",
                     "GQ_ESTIMATES_2019",
                     "R_birth_2015",
                     "R_birth_2016",
                     "R_birth_2017",
                     "R_birth_2018",
                     "R_birth_2019",
                     "R_death_2015",
                     "R_death_2016",
                     "R_death_2017",
                     "R_death_2018",
                     "R_death_2019",
                     "R_NATURAL_INC_2015",
                     "R_NATURAL_INC_2016",
                     "R_NATURAL_INC_2017",
                     "R_NATURAL_INC_2018",
                     "R_NATURAL_INC_2019",
                     "R_INTERNATIONAL_MIG_2015",
                     "R_INTERNATIONAL_MIG_2016",
                     "R_INTERNATIONAL_MIG_2017",
                     "R_INTERNATIONAL_MIG_2018",
                     "R_INTERNATIONAL_MIG_2019",
                     "R_DOMESTIC_MIG_2015",
                     "R_DOMESTIC_MIG_2016",
                     "R_DOMESTIC_MIG_2017",
                     "R_DOMESTIC_MIG_2018",
                     "R_DOMESTIC_MIG_2019",
                     "R_NET_MIG_2015",
                     "R_NET_MIG_2016",
                     "R_NET_MIG_2017",
                     "R_NET_MIG_2018",
                     "R_NET_MIG_2019"]

col_pov_est_perim = ["FIPS_code",
                     "State_name",
                     "Area_name",
                     "Rural_urban_continuum_code_2013",
                     "Urban_influence_code_2013",
                     "POVALL_2019", "PCTPOVALL_2019", 
                     "POV017_2019", "PCTPOV017_2019", 
                     "POV517_2019", "PCTPOV517_2019", 
                     "MEDHHINC_2019", 
                     "POV04_2019", 
                     "PCTPOV04_2019"]

col_unemp_perim = ["FIPS_code",
                   "State_name",
                   "Area_name",
                   "Rural_urban_continuum_code_2013",
                   "Urban_influence_code_2013",
                   "Metro_2013", 
                   "Civilian_labor_force_2015", 
                   "Employed_2015", 
                   "Unemployed_2015", 
                   "Unemployment_rate_2015", 
                   "Civilian_labor_force_2016", 
                   "Employed_2016", 
                   "Unemployed_2016", 
                   "Unemployment_rate_2016", 
                   "Civilian_labor_force_2017", 
                   "Employed_2017", 
                   "Unemployed_2017", 
                   "Unemployment_rate_2017", 
                   "Civilian_labor_force_2018", 
                   "Employed_2018", 
                   "Unemployed_2018", 
                   "Unemployment_rate_2018", 
                   "Employed_2019", 
                   "Unemployed_2019", 
                   "Unemployment_rate_2019", 
                   "Median_Household_Income_2019", 
                   "Med_HH_Income_Percent_of_State_Total_2019"]

Décision 2 : le pilier de cette étude est l'index unique de chaque était ie le code FIPS. Notre fichier principal de résultat electoral ne contient que les informations des états ayant un code FIPS entre 1 et 56.
Décision 3 : les colonnes à gader :
---- Education : 
--------- Rural et influence code 2013
--------- Données entre 2015 et 2019
---- Pop est : 
--------- Rural et influence code 2013
--------- Données entre 2015 et 2019
---- Pov est : 
--------- Rural et influence code 2013
--------- Estimation (et non intervalle de confiance sup et inf)

## IMPORT et MISE EN FORME DES DONNEES

In [13]:
#---------------------------------------IMPORT DES DONNEES----------------------------------------------------------
# On spécifie le chemin d'accès aux données
folder_path = "./data/"

# On importe le fichier principal
df_pres_result = pd.read_csv(folder_path + "2020_US_County_Level_Presidential_Results.csv", sep = ",")
df_pres_result_old = pd.read_csv(folder_path + "US_County_Level_Presidential_Results_08-16.csv", sep = ",")
df_education = pd.read_excel(folder_path + "Education.xls")
df_pop_est = pd.read_excel(folder_path + "PopulationEstimates.xls")
df_pov_est = pd.read_excel(folder_path + "PovertyEstimates.xls")
df_unemp = pd.read_excel(folder_path + "Unemployment.xls")

#-----------------------------------------TYPOLOGIE DES FEATURES--------------------------------------------------------


# Mise en forme et Modification des entêtes des fichiers excels 
print(".... Mise en forme et Modification des entêtes des fichiers excels")
df_education = del_top_lines(3,df_education)
df_pop_est = del_top_lines(1,df_pop_est)
df_pov_est = del_top_lines(3,df_pov_est)
df_unemp = del_top_lines(3,df_unemp)

# Uniformisation du code FIPS du fichier CSV
print(".... Uniformisation du code FIPS")
df_pres_result['county_fips'] = df_pres_result['county_fips'].astype(str)
df_pres_result['county_fips'] = df_pres_result['county_fips'].apply(lambda x: '0' + x if len(x) == 4 else x)
#print(df_pres_result['county_fips'])

# Uniformisation des noms de colonnes communes à chaque fichier
print(".... Uniformisation des noms de colonnes communes à chaque fichier")
df_pres_result.rename(columns={'county_fips': 'FIPS_code', 'state_name': 'State_name', 'county_name' : 'Area_name'}, inplace=True)
df_education.rename(columns={'FIPS Code': 'FIPS_code', 'State': 'State_name', 'Area name' : 'Area_name', '2013 Rural-urban Continuum Code' : 'Rural_urban_continuum_code_2013', '2013 Urban Influence Code' : 'Urban_influence_code_2013'}, inplace=True)
df_pop_est.rename(columns={'FIPStxt': 'FIPS_code', 'State': 'State_name', 'Area_Name' : 'Area_name', 'Rural-urban_Continuum Code_2013' : 'Rural_urban_continuum_code_2013', 'Urban_Influence_Code_2013' : 'Urban_influence_code_2013'}, inplace=True)
df_pov_est.rename(columns={'FIPStxt': 'FIPS_code', 'Stabr': 'State_name', 'Area_name' : 'Area_name', 'Rural-urban_Continuum_Code_2013' : 'Rural_urban_continuum_code_2013', 'Urban_Influence_Code_2013' : 'Urban_influence_code_2013'}, inplace=True)
df_unemp.rename(columns={'fips_txt': 'FIPS_code', 'Stabr': 'State_name', 'area_name' : 'Area_name', 'Rural_urban_continuum_code_2013' : 'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013' : 'Urban_influence_code_2013'}, inplace=True)

# Selection du périmètre du premier périmètre d'analyse
print(".... Réduction du scope : selection du périmètre du premier périmètre d'analyse des fichiers excels")
df_education = df_education[col_educ_perim]
df_pop_est = df_pop_est[col_pop_est_perim]
df_pov_est = df_pov_est[col_pov_est_perim]
df_unemp = df_unemp[col_unemp_perim]

# Ajout d'une nouvelle ligne 00000 US dans la DF des résultats de 2020 afin de garder une cohérence avec les autrs fichiers

# création d'une liste des dataframe à traiter
print(".... Création d'une liste des dataframe à traiter")
df_list = [df_pres_result,df_education,df_pop_est,df_pov_est,df_unemp]

# Info et affichage premières lignes 
print(".... Info et affichage premières lignes")
for d in df_list:
    print(d.info())
    display(d.head())

.... Mise en forme et Modification des entêtes des fichiers excels
.......index new head number :  3
.......index new head number :  1
.......index new head number :  3
.......index new head number :  3
.... Uniformisation du code FIPS
.... Uniformisation des noms de colonnes communes à chaque fichier
.... Réduction du scope : selection du périmètre du premier périmètre d'analyse des fichiers excels
.... Création d'une liste des dataframe à traiter
.... Info et affichage premières lignes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3152 entries, 0 to 3151
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State_name      3152 non-null   object
 1   FIPS_code       3152 non-null   object
 2   Area_name       3152 non-null   object
 3   votes_gop       3152 non-null   int64
 4   votes_dem       3152 non-null   int64
 5   total_votes     3152 non-null   int64
 6   diff            3152 non-null   int64
 7   per_gop         3152 non-null   float64
 8   per_dem         3152 non-null   float64
 9   per_point_diff  3152 non-null   float64
dtypes: float64(3), int64(4), object(3)
memory usage: 246.4+ KB
None

,State_name,FIPS_code,Area_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
0,Alabama,01001,Autauga County,19838,7503,27770,12335,0.714368,0.270184,0.444184
1,Alabama,01003,Baldwin County,83544,24578,109679,58966,0.761714,0.224090,0.537623
2,Alabama,01005,Barbour County,5622,4816,10518,806,0.534512,0.457882,0.076631
3,Alabama,01007,Bibb County,7525,1986,9595,5539,0.784263,0.206983,0.577280
4,Alabama,01009,Blount County,24711,2640,27588,22071,0.895716,0.095694,0.800022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3283 entries, 0 to 3282
Data columns (total 13 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   FIPS_code                                                                 3283 non-null   object
 1   State_name                                                                3283 non-null   object
 2   Area_name                                                                 3283 non-null   object
 3   Rural_urban_continuum_code_2013                                           3221 non-null   object
 4   Urban_influence_code_2013                                                 3221 non-null   object
 5   Less than a high school diploma, 2015-19                                  3273 non-null   object
 6   High school diploma only, 2015-19                                         3273 non-null   object
 7   Some college or associate's degree, 2015-19                               3273 non-null   object
 8   Bachelor's degree or higher, 2015-19                                      3273 non-null   object
 9   Percent of adults with less than a high school diploma, 2015-19           3273 non-null   object
 10  Percent of adults with a high school diploma only, 2015-19                3273 non-null   object
 11  Percent of adults completing some college or associate's degree, 2015-19  3273 non-null   object
 12  Percent of adults with a bachelor's degree or higher, 2015-19             3273 non-null   object
dtypes: object(13)
memory usage: 333.6+ KB
None

,FIPS_code,State_name,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,"Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,00000,US,United States,NaN,NaN,26472261,59472748,63756905,70920162,11.998918,26.956844,28.898697,32.145542
1,01000,AL,Alabama,NaN,NaN,458922,1022839,993344,845772,13.819302,30.800268,29.912098,25.468332
2,01001,AL,Autauga County,2,2,4291,12551,10596,9929,11.483395,33.588459,28.356571,26.571573
3,01003,AL,Baldwin County,3,2,13893,41797,47274,48148,9.193843,27.659616,31.284081,31.862459
4,01005,AL,Barbour County,6,6,4812,6396,4676,2080,26.786907,35.604542,26.029837,11.578713

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3273 entries, 0 to 3272
Data columns (total 86 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   FIPS_code                        3273 non-null   object
 1   State_name                       3273 non-null   object
 2   Area_name                        3273 non-null   object
 3   Rural_urban_continuum_code_2013  3220 non-null   object
 4   Urban_influence_code_2013        3220 non-null   object
 5   Economic_typology_2015           3142 non-null   object
 6   POP_ESTIMATE_2015                3273 non-null   object
 7   POP_ESTIMATE_2016                3273 non-null   object
 8   POP_ESTIMATE_2017                3273 non-null   object
 9   POP_ESTIMATE_2018                3273 non-null   object
 10  POP_ESTIMATE_2019                3273 non-null   object
 11  N_POP_CHG_2015                   3194 non-null   object
 12  N_POP_CHG_2016                   3194 non-null   object
 13  N_POP_CHG_2017                   3194 non-null   object
 14  N_POP_CHG_2018                   3194 non-null   object
 15  N_POP_CHG_2019                   3194 non-null   object
 16  Births_2015                      3194 non-null   object
 17  Births_2016                      3194 non-null   object
 18  Births_2017                      3194 non-null   object
 19  Births_2018                      3194 non-null   object
 20  Births_2019                      3194 non-null   object
 21  Deaths_2015                      3194 non-null   object
 22  Deaths_2016                      3194 non-null   object
 23  Deaths_2017                      3194 non-null   object
 24  Deaths_2018                      3194 non-null   object
 25  Deaths_2019                      3194 non-null   object
 26  NATURAL_INC_2015                 3194 non-null   object
 27  NATURAL_INC_2016                 3194 non-null   object
 28  NATURAL_INC_2017                 3194 non-null   object
 29  NATURAL_INC_2018                 3194 non-null   object
 30  NATURAL_INC_2019                 3194 non-null   object
 31  INTERNATIONAL_MIG_2015           3194 non-null   object
 32  INTERNATIONAL_MIG_2016           3194 non-null   object
 33  INTERNATIONAL_MIG_2017           3194 non-null   object
 34  INTERNATIONAL_MIG_2018           3194 non-null   object
 35  INTERNATIONAL_MIG_2019           3194 non-null   object
 36  DOMESTIC_MIG_2015                3194 non-null   object
 37  DOMESTIC_MIG_2016                3194 non-null   object
 38  DOMESTIC_MIG_2017                3194 non-null   object
 39  DOMESTIC_MIG_2018                3194 non-null   object
 40  DOMESTIC_MIG_2019                3194 non-null   object
 41  NET_MIG_2015                     3194 non-null   object
 42  NET_MIG_2016                     3194 non-null   object
 43  NET_MIG_2017                     3194 non-null   object
 44  NET_MIG_2018                     3194 non-null   object
 45  NET_MIG_2019                     3194 non-null   object
 46  RESIDUAL_2015                    3194 non-null   object
 47  RESIDUAL_2016                    3194 non-null   object
 48  RESIDUAL_2017                    3194 non-null   object
 49  RESIDUAL_2018                    3194 non-null   object
 50  RESIDUAL_2019                    3194 non-null   object
 51  GQ_ESTIMATES_2015                3194 non-null   object
 52  GQ_ESTIMATES_2016                3194 non-null   object
 53  GQ_ESTIMATES_2017                3194 non-null   object
 54  GQ_ESTIMATES_2018                3194 non-null   object
 55  GQ_ESTIMATES_2019                3194 non-null   object
 56  R_birth_2015                     3193 non-null   object
 57  R_birth_2016                     3193 non-null   object
 58  R_birth_2017                     3193 non-null   object
 59  R_birth_2018                     3193 non-null   object
 60  R_birth_2019                     3193 non-null   object
 61  R_death_2015                     3193 non-null   object
 62  R_death_2016                     3193 non-null   object
 63  R_death_2017                     3193 non-null   object
 64  R_death_2018                     3193 non-null   object
 65  R_death_2019                     3193 non-null   object
 66  R_NATURAL_INC_2015               3193 non-null   object
 67  R_NATURAL_INC_2016               3193 non-null   object
 68  R_NATURAL_INC_2017               3193 non-null   object
 69  R_NATURAL_INC_2018               3193 non-null   object
 70  R_NATURAL_INC_2019               3193 non-null   object
 71  R_INTERNATIONAL_MIG_2015         3193 non-null   object
 72  R_INTERNATIONAL_MIG_2016         3193 non-null   object
 73  R_INTERNATIONAL_MIG_2017         3193 non-null   object
 74  R_INTERNATIONAL_MIG_2018         3193 non-null   object
 75  R_INTERNATIONAL_MIG_2019         3193 non-null   object
 76  R_DOMESTIC_MIG_2015              3193 non-null   object
 77  R_DOMESTIC_MIG_2016              3193 non-null   object
 78  R_DOMESTIC_MIG_2017              3193 non-null   object
 79  R_DOMESTIC_MIG_2018              3193 non-null   object
 80  R_DOMESTIC_MIG_2019              3193 non-null   object
 81  R_NET_MIG_2015                   3193 non-null   object
 82  R_NET_MIG_2016                   3193 non-null   object
 83  R_NET_MIG_2017                   3193 non-null   object
 84  R_NET_MIG_2018                   3193 non-null   object
 85  R_NET_MIG_2019                   3193 non-null   object
dtypes: object(86)
memory usage: 2.1+ MB
None

,FIPS_code,State_name,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Economic_typology_2015,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,POP_ESTIMATE_2018,...,R_DOMESTIC_MIG_2015,R_DOMESTIC_MIG_2016,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_DOMESTIC_MIG_2019,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019
0,00000,US,United States,NaN,NaN,NaN,320635163,322941311,324985539,326687501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01000,AL,Alabama,NaN,NaN,NaN,4852347,4863525,4874486,4887681,...,-0.318543,-0.444016,0.471965,1.081522,1.917501,0.626357,0.745172,1.090366,1.773786,2.483744
2,01001,AL,Autauga County,2,2,0,54864,55243,55390,55533,...,-1.949762,4.831664,1.06659,0.667129,4.84731,-1.712875,4.777171,0.849656,0.540916,4.560062
3,01003,AL,Baldwin County,3,2,5,202939,207601,212521,217855,...,17.07442,20.402397,21.988851,24.276447,24.017829,17.725964,21.279291,22.398256,24.727215,24.380567
4,01005,AL,Barbour County,6,6,3,26283,25806,25157,24872,...,-16.214789,-18.890745,-25.469458,-9.234644,-5.690302,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   FIPS_code                        3193 non-null   object
 1   State_name                       3193 non-null   object
 2   Area_name                        3193 non-null   object
 3   Rural_urban_continuum_code_2013  3141 non-null   object
 4   Urban_influence_code_2013        3141 non-null   object
 5   POVALL_2019                      3193 non-null   object
 6   PCTPOVALL_2019                   3193 non-null   object
 7   POV017_2019                      3193 non-null   object
 8   PCTPOV017_2019                   3193 non-null   object
 9   POV517_2019                      3193 non-null   object
 10  PCTPOV517_2019                   3193 non-null   object
 11  MEDHHINC_2019                    3193 non-null   object
 12  POV04_2019                       52 non-null     object
 13  PCTPOV04_2019                    52 non-null     object
dtypes: object(14)
memory usage: 349.4+ KB
None

,FIPS_code,State_name,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,POVALL_2019,PCTPOVALL_2019,POV017_2019,PCTPOV017_2019,POV517_2019,PCTPOV517_2019,MEDHHINC_2019,POV04_2019,PCTPOV04_2019
0,00000,US,United States,NaN,NaN,39490096,12.3,12000470,16.8,8258906,15.8,65712,3457689,18.2
1,01000,AL,Alabama,NaN,NaN,747478,15.6,233890,21.9,161670,20.7,51771,69236,24.2
2,01001,AL,Autauga County,2,2,6723,12.1,2040,15.9,1376,14.4,58233,NaN,NaN
3,01003,AL,Baldwin County,3,2,22360,10.1,6323,13.5,4641,13.3,59871,NaN,NaN
4,01005,AL,Barbour County,6,6,5909,27.1,2050,41,1468,39.5,35972,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275 entries, 0 to 3274
Data columns (total 27 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FIPS_code                                  3275 non-null   object
 1   State_name                                 3275 non-null   object
 2   Area_name                                  3275 non-null   object
 3   Rural_urban_continuum_code_2013            3219 non-null   object
 4   Urban_influence_code_2013                  3219 non-null   object
 5   Metro_2013                                 3222 non-null   object
 6   Civilian_labor_force_2015                  3272 non-null   object
 7   Employed_2015                              3272 non-null   object
 8   Unemployed_2015                            3272 non-null   object
 9   Unemployment_rate_2015                     3272 non-null   object
 10  Civilian_labor_force_2016                  3272 non-null   object
 11  Employed_2016                              3272 non-null   object
 12  Unemployed_2016                            3272 non-null   object
 13  Unemployment_rate_2016                     3272 non-null   object
 14  Civilian_labor_force_2017                  3272 non-null   object
 15  Employed_2017                              3272 non-null   object
 16  Unemployed_2017                            3272 non-null   object
 17  Unemployment_rate_2017                     3272 non-null   object
 18  Civilian_labor_force_2018                  3272 non-null   object
 19  Employed_2018                              3272 non-null   object
 20  Unemployed_2018                            3272 non-null   object
 21  Unemployment_rate_2018                     3272 non-null   object
 22  Employed_2019                              3272 non-null   object
 23  Unemployed_2019                            3272 non-null   object
 24  Unemployment_rate_2019                     3272 non-null   object
 25  Median_Household_Income_2019               3193 non-null   object
 26  Med_HH_Income_Percent_of_State_Total_2019  3192 non-null   object
dtypes: object(27)
memory usage: 690.9+ KB
None

,FIPS_code,State_name,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,...,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,00000,US,United States,NaN,NaN,NaN,156798981,148515185,8283796,5.283067,...,4.355123,161389026,155102319,6286707,3.895375,157115247,5984808,3.669409,65712,NaN
1,01000,AL,Alabama,NaN,NaN,NaN,2161481,2030005,131476,6.1,...,4.4,2216627,2130845,85782,3.9,2174483,67264,3,51771,100
2,01001,AL,"Autauga County, AL",2,2,1,25652,24321,1331,5.2,...,3.9,26196,25261,935,3.6,25458,714,2.7,58233,112.481888
3,01003,AL,"Baldwin County, AL",3,2,1,87872,83010,4862,5.5,...,4.1,95233,91809,3424,3.6,94675,2653,2.7,59871,115.645828
4,01005,AL,"Barbour County, AL",6,6,0,8625,7860,765,8.9,...,5.8,8414,7987,427,5.1,8213,324,3.8,35972,69.482918

In [ ]:
#----------------------------------------------CREATION DE LA TARGET 'Party' ---------------------------------------------------
conditionlist = [
    (df_pres_result['per_gop'] < df_pres_result['per_dem']) ,
    (df_pres_result['per_gop'] > df_pres_result['per_dem'])]
choicelist = [0,1]
df_pres_result['party'] = np.select(conditionlist, choicelist, default='Not Specified')

#print(df_pres_result['party']) #Affichage de la colonne party

# -------------------------------Representation globale de la target party-------------------

target_distribution_bef_split = ditrib_calc(df_pres_result['party'],"target","party")
#print(target_distribution_bef_split)
ditrib_graph(target_distribution_bef_split,"Repartition de la target global","Target (GOP/DEM)")

In [ ]:
#-------------------------------------------- REGROUPEMENT DES DONNES SOCIOECONOMIQUES -----------------------

#-------------------------------------------- MISE EN FORME DU JEU DE DONNEES -----------------------
# Séparer les variables explicatives de la target
X = df_pres_result.drop(["party"], axis=1)
y = df_pres_result["party"]

# split des données en train et test
set_seed = 1204
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=set_seed)

# Création des listes de variables par catégorie
cat_cols = X_train.select_dtypes(exclude=np.number).columns.tolist()
num_cols =  X_train.select_dtypes(include=np.number).columns.tolist()
all_cols = X_train.columns.tolist()


# ------------------------------------DISTRIBUTION DE LA feature target 'party'-----------------------------------------------
target_distribution = ditrib_calc(y_train,"target","party")
#print(target_distribution)
ditrib_graph(target_distribution,"Repartition de la target sur le jeu y train","Target (GOP/DEM)")